canvas{
    margin-top: 50px;
    display: inline;
    width: 800px;
    height: 600px;
    background-color: rgb(46, 45, 101);
    opacity: 0.8;
}
h1{
    font-family: monaco;
    text-align: center;
}
#canvascontainer{
    width: 100%;
    height: 100%;
    text-align: center;
}