h1{
    text-align: center;
    font-family: monaco;
}
#canvascontainer {
    text-align: center;
    width: 100%;
   
}
canvas{
    image-rendering: pixelated;
    margin-top: 50px;
    width: 700px;
    height: 400px;
    background-color: rgb(49, 44, 102);
   
}